{% extends 'base.html.twig' %}

{% block body %}
    <h1>404 ERROR</h1>
    <br>
    <p>
        You can change this template in "app/Resources/TwigBundle/views/Exception/error404.html.twig"
    </p>
    <br>
{% endblock %}