{% extends '@GobusgoGobusgo/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <h1>О нас</h1>
                <p class="text-center" style="font-size: 20px; line-height: 24px;">В наше время различная деятельность
                    разных компаний
                    не обходится без очень тесного сотрудничества с компаниями, которые занимаются грузоперевозками
                    (транспортно-экспедиционная компания). Для многих компаний качественная, быстрая, своевременная
                    доставка
                    различного груза является одним из важнейших факторов, которые влияют на развитие и стабильность
                    данной
                    компании. Для частных компаний высокий уровень оказания транспортных услуг является не менее важным,
                    потому
                    что это залог уверенности и полного спокойствия во время перевозки имущества. Вследствие этого с
                    каждым
                    годом интерес и спрос на различные грузоперевозки растёт и растёт.</p>
            </div>
        </div>
    </div>

    {% include 'GobusgoGobusgoBundle:Blog:blog.html.twig' %}

{% endblock %}