{% extends '@GobusgoGobusgo/layout.html.twig' %}

{% block body %}
    <div class="container">
        <p class="row">
            <h1 style="text-align:left;"> Контакты</h1>
        <div class="col-md-8 col-xs-12" style="padding-left: 0px;">

            <h4 style="border-bottom: 1px solid #ccc; display: inline-block;">Юридические данные:</h4>
                <p class="text-contacts">
                    ИП Иванов И.И.</br>
                    г. Минск, пр. Независимости 110, офис 10</br>
                    УНП 123456789</br>
                    Свидетельство о государственной регистрации выдано Минским горисполкомом</br>
                    ЗАО Мтбанк</br>
                    Р/с 1234567890</br>
                    Код 133
                </p>


            <div class="col-md-12 col-xs-12" style="padding: 0px; margin-bottom: 20px;">

                <h4 style="margin-top: 30px; border-bottom: 1px solid #ccc; display: inline-block;">Форма обратной
                    связи:</h4>
                <form name="enquiry" method="post" action="/contact">
                    <div style="background-color: #cfd9ff; border-radius: 12px; padding: 10px 0px;">
                    <div class="row">
                        <div class="col-md-6 col-xs-12" style="padding-right: 0px;">
                            <div class="Input">
                                <input id="enquiry_name" name="enquiry[name]" required="required" class="input-log"
                                       placeholder="Имя" type="text">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" style="padding-left: 0px;">
                            <div class="Input">
                                <input id="enquiry_email" name="enquiry[email]" required="required" class="input-log"
                                       placeholder="Ваш Email" type="email">
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="Input">
                                <input id="enquiry_subject" name="enquiry[subject]" required="required"
                                       class="input-log" placeholder="Тема" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="Input">
                                <textarea id="enquiry_body" name="enquiry[body]" required="required" class="input-log"
                                          placeholder="Сообщение...." rows="5"
                                          style="height: 150px; max-width: 100%;"></textarea>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <input id="enquiry_phone" name="enquiry[phone]" type="text" hidden="">
                            <input class="button-log" value="Отправить сообщение" style="font-size: 16px;"
                                   type="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">

            <h4 style="border-bottom: 1px solid #ccc; display: inline-block;">Контактные данные:</h4>
            <p class="text-contacts">
                +375 29 333-33-33</p>
            <p class="text-contacts">+375 33 333-33-33</p>
            <p class="text-contacts">+375 25 333-33-33</p>
            <p class="text-contacts"> +375 17 333-33-33</p>
            <div class="footer-icons">
                <img src="images/whatsup.png" style="height:35px; margin-right: 5px;">
                <img src="images/telegram.png" style="height:35px; margin-right: 5px;">
                <img src="images/viber.png" style="height:35px; margin-right: 5px;">
                <img src="images/skype.png" style="height:35px; margin-right: 5px;">
            </div>

            <h4 style="margin-top: 30px; border-bottom: 1px solid #ccc; display: inline-block;">Время работы:</h4>
            <p>Пн-Пт - с 9.00 до 18.00</br>Сб-Вс - с 9.00 до
                16.00</p>
            {#<p class="text-contacts">Склад: Пр. Дзержинского</br>Офис: Пр. Дзержинского</p>#}

            <h4 style="margin-top: 30px; border-bottom: 1px solid #ccc; display: inline-block;">Email:</h4>
            <p class="text-contacts">info@gobusgo.by</p>
        </div>
    </div>
    </div>
    <div class="container-fluid" style="padding: 0px;">
        <div class="row"></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d150474.39557313913!2d27.40249134812782!3d53.89331684651622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1523641166856"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>

{% endblock %}