{% extends '@GobusgoGobusgo/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <h1>Грузоперевозки Москва <i class="fa fa-arrows-h" aria-hidden="true"></i>
                    Минск?</h1>
                <p class="text-center" style="font-size: 20px; line-height: 24px;">В наше время различная деятельность
                    разных компаний
                    не обходится без очень тесного сотрудничества с компаниями, которые занимаются грузоперевозками
                    (транспортно-экспедиционная компания). Для многих компаний качественная, быстрая, своевременная
                    доставка
                    различного груза является одним из важнейших факторов, которые влияют на развитие и стабильность
                    данной
                    компании. Для частных компаний высокий уровень оказания транспортных услуг является не менее важным,
                    потому
                    что это залог уверенности и полного спокойствия во время перевозки имущества. Вследствие этого с
                    каждым
                    годом интерес и спрос на различные грузоперевозки растёт и растёт.</p>
            </div>
        </div>
    </div>
    <div class="container" style="text-align: center;">
        <div class="row">
            <h2>Расчет стоимости грузоперевозки:</h2>
            <div class="road-loptop">
                <span class="road-text-1">Клиент</span>
                <span class="road-text-2">Габариты</span>
                <span class="road-text-3">Город</span>
                <span class="road-text-4">Итого</span>
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <span class="line-5"></span>
                <span class="line-6"></span>
                <span class="line-7"></span>
                <span class="line-8"></span>
                <span class="line-9"></span>
                <span class="line-10"></span>
                <div class="Input-1">
                    <i class="fa fa-chevron-left" aria-hidden="true"
                       style="position: absolute; margin-left: 160px; margin-top: 17px; font-size: 20px; color: #7d88ff;"></i>

                    <input class="Input-text-1" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Вес, кг"/>
                </div>
                <div class="Input-2">
                    <i class="fa fa-chevron-right" aria-hidden="true"
                       style="position: absolute; margin-left: -19px; margin-top: 18px; font-size: 20px; color: #7d88ff;"></i>

                    <input class="Input-text-2" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Откуда"/>
                </div>
                <div class="Input-3">
                    <i class="fa fa-chevron-right" aria-hidden="true"
                       style="position: absolute; margin-left: -19px; margin-top: 18px; font-size: 20px; color: #7d88ff;"></i>

                    <input class="Input-text-3" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Куда"/>
                </div>
                <div class="Input-4">
                    <i class="fa fa-chevron-left" aria-hidden="true"
                       style="position: absolute; margin-left: 152px; margin-top: 17px; font-size: 20px; color: #7d88ff;"></i>

                    <input class="Input-text-4" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Сумма"/>
                </div>
                <div class="radio-cargo">
                    <label>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        Юридическое лицо
                        <input type="radio" class="option-input radio" name="example" checked/>

                    </label>
                    <label>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        Физическое лицо
                        <input type="radio" class="option-input radio" name="example"/>
                    </label>
                </div>
                <img src="/images/road.png" style="width: 800px;">
                <h2>Оформление заявки</h2>

                <div class="Input-5">
                    <input class="Input-text-5" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Название организации"/>
                </div>
                <div class="Input-6">
                    <input class="Input-text-5" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="УНП"/>
                </div>
                <div class="Input-7">
                    <input class="Input-text-5" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Банк"/>
                </div>
                <div class="Input-8">
                    <input class="Input-text-5" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Адрес банка"/>
                </div>
                <div class="Input-9">
                    <input class="Input-text-5" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Юридический адрес"/>
                </div>
                <div class="Input-10">
                    <input class="Input-text-5" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Расчетный счет"/>
                </div>
                <div class="Input-11">
                    <input class="Input-text-5" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Код"/>
                </div>
                <div class="Input-12">
                    <input class="Input-text-5" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Контактное лицо"/>
                </div>
                <div class="Input-13">
                    <input class="Input-text-13" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Номер телефона для связи"/>
                </div>
                <img src="/images/tablet.png" width="800px;">
                <div class="text-center" style="margin-bottom: 30px; margin-top: -40px;">
                    <input id="_submit" name="_submit" class="submit-button" value="Оформить заявку" type="submit">
                </div>
            </div>
            <div class="road-tablet">
                <div class="col-md-6">
                    <div>
                        <p class="road-number">1</p>
                        <h3 style="display:inline-block;">Клиент</h3>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="divider-home"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <p class="text-center" style="font-size: 20px; line-height: 24px;">В наше время различная деятельность
                    разных компаний
                    не обходится без очень тесного сотрудничества с компаниями, которые занимаются грузоперевозками
                    (транспортно-экспедиционная компания). Для многих компаний качественная, быстрая, своевременная
                    доставка
                    различного груза является одним из важнейших факторов, которые влияют на развитие и стабильность
                    данной
                    компании. Для частных компаний высокий уровень оказания транспортных услуг является не менее важным,
                    потому
                    что это залог уверенности и полного спокойствия во время перевозки имущества. Вследствие этого с
                    каждым
                    годом интерес и спрос на различные грузоперевозки растёт и растёт.</p>
            </div>
        </div>
    </div>
    <div class="divider-home"></div>
    <div class="container">
        <div class="row">
            <h2>Дополнительные услуги:</h2>
            <div class="table-services">
                <table>
                    <tr>
                        <td colspan="5">Добавить или забрать, направление по адресу:<br></td>
                    </tr>
                    <tr>
                        <td>Вес посылки, кг<br></td>
                        <td>Минск<br></td>
                        <td>По беларуси<br></td>
                        <td>Москва (в пределах мкад)<br></td>
                        <td>В любой точку московской области<br></td>
                    </tr>
                    <tr>
                        <td>0-2 кг</td>
                        <td>8р</td>
                        <td>12р</td>
                        <td>30р</td>
                        <td>45р</td>
                    </tr>
                    <tr>
                        <td>3-9 кг</td>
                        <td>8р</td>
                        <td>12р</td>
                        <td>30р</td>
                        <td>45р</td>
                    </tr>
                    <tr>
                        <td>10-19 кг</td>
                        <td>8р</td>
                        <td>12р</td>
                        <td>30р</td>
                        <td>45р</td>
                    </tr>
                    <tr>
                        <td>10-29 кг<br></td>
                        <td>8р</td>
                        <td>12р</td>
                        <td>30р</td>
                        <td>45р</td>
                    </tr>
                    <tr>
                        <td>30-49 кг<br></td>
                        <td>8р</td>
                        <td>12р</td>
                        <td>30р</td>
                        <td>45р</td>
                    </tr>
                    <tr>
                        <td>50-100 кг<br></td>
                        <td>8р</td>
                        <td>12р</td>
                        <td>30р</td>
                        <td>45р</td>
                    </tr>
                    <tr>
                        <td>за послед. кг<br></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>200 кг<br></td>
                        <td>20р<br></td>
                        <td>50р<br></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>за послед. кг</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>500 кг<br></td>
                        <td>20р</td>
                        <td>50р</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>за послед. кг</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>700 кг<br></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <h2>Зоны обслуживания:</h2>
            <div class="col-md-6">

                <div class="text-title-map"><i class="fa fa-map-marker" aria-hidden="true"></i> Наш адрес в Минске:
                </div>

                <div class="col-md-6">
                    <div class="text-map">Склад: Пр. Дзержинского</br>Офис: Пр. Дзержинского</div>
                </div>
                <div class="col-md-6">
                    <div class="text-map">Время работы: 9.00 - 21.00</br>Телефон: +375(17)333-33-33</div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d150474.39557313913!2d27.40249134812782!3d53.89331684651622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1523641166856"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="text-title-map"><i class="fa fa-map-marker" aria-hidden="true"></i> Наш адрес в Москве:
                </div>

                <div class="col-md-6">
                    <div class="text-map">Склад: Пр. Победителей</br>Офис: Пр. Подбедителей</div>
                </div>
                <div class="col-md-6">
                    <div class="text-map">Время работы: 9.00 - 21.00</br>Телефон: +7(495)333-33-33</div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d287423.6776157171!2d37.35231573882835!3d55.74985979694972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8!5e0!3m2!1sru!2sby!4v1523641073490"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}