<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div>
        {% block header %}
            <h2 style="color: green">Header from base.html.twig</h2>
        {% endblock %}
    </div>
    <div>
        {% block body %}

        {% endblock %}
    </div>
    <div>
        {% block footer %}
            <h2 style="color: green">Footer from base.html.twig</h2>
        {% endblock %}
    </div>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
