{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="container">
    <div class="row">
        {#<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>#}
        <h3 class="text-center">Поздравляем с регистрацией на GoBusGo. Мы выслали письмо на адрес {{ user.email}}. Для завершения
            регистрации пройдите по ссылке, указанной в письме.</h3>

    </div>
</div>
{% endblock fos_user_content %}
