{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container">
    <div class="row">
        <h4 class="confirm col-md-6 col-md-push-3">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h4>
        <div class="col-md-12 text-center">
            <a class="button-log" href="{{ path('fos_user_profile_show') }}">Перейти в личный кабинет</a>
        </div>
        {% if targetUrl %}
            {#<a class="button-log" href="{{ targetUrl }}">Перейти в личный кабинет</a>#}
        {% endif %}
    </div>
</div>
{% endblock fos_user_content %}
