@media (min-width: 1250px) {
    .hide-sm-up {
        display: none;
    }
}

.top-bar-menu {
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 8px 0px;
    color: #8598ff;
    font-size: 1vw;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-family: Trebuchet MS;
    font-weight: 600;
    text-transform: uppercase;
}

.top-bar {
    margin: 10px 10px;
}

.top-bar-menu a {
    color: #8598ff;
}

.top-bar-menu {
    line-height: 24px;
}

.icons-top {
    height: 34px;
    margin-right: 8px;
}

.icons-top-bar {
    display: inline-block;
    margin-top: 3px;
}

.top-bar-right {
    float: right;
}

.top-bar-menu-active {
    cursor: pointer;
    display: inline-block;
    padding: 0px 20px;
    color: #8598ff;
    font-size: 1vw;
    position: relative;
    transition: all 0.4s ease;
    font-family: Trebuchet MS;
    font-weight: 600;
    background-color: #ffeb89;
    border-radius: 4px;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 10px;
}

.header-menu li a {
    font-family: "Trebuchet MS";
    font-size: 1.7vw;
    line-height: 32px;
    color: #566fe0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 600;
    vertical-align: middle;
}

.header-menu li {
    list-style-type: none;
    padding: 0px 10px;
    text-align: center;
    height: 120px;
    vertical-align:middle;
    display:table-cell;
}

.inline-block {
    display: inline-block;
}

.logo-header {
    padding: 15px 10px;
    float: left;
    text-align: center;
    height: 108px;
}

.logo-text-header {
    color: #ffe775;
    font-family: Bosk;
    font-size: 14px;
    text-transform: uppercase;
}

.time-of-work li {
    list-style-type: none;
    text-align: center;
}

.time-of-work li a {
    font-family: "Trebuchet MS";
    font-size: 15px;
    line-height: 17px;
    color: #566fe0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu-table-header {
    height: 108px;
    vertical-align: middle;
    display: table-cell;
    padding-right: 10px;
    padding-bottom: 18px;
}

.menu-table-header tr td, .menu-table-header {
    border: none;
}

.callback-header-second a {
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: #566fe0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 500;
}

.callback-header-second {
    font-family: 'Zing Sans Rust R Base';
    background-color: #ffeb89;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 18px;
    -o-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
    -moz-transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
    text-transform: uppercase;
    transform: scale(1, 1.2);
    display: inline-block;
}

.call-back-top {
    font-family: trebuchet MS;
    font-size: 1.3vw;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1.5px;
    color: #566fe0;
    line-height: 36px;
}

.mail-top {
    font-family: vladivostok bold;
    font-size: 1.3vw;
    color: #566fe0;
    line-height: 24px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

@media (max-width: 1250px) {
    .header-desktop {
        display: none;
    }

    .text-operator {
        font-size: 8px;
    }
}

@media (min-width: 1400px) {
    .header-menu li {
        padding: 0px 20px;
    }
    .padding-phones {
        padding-left: 30px;
    }

    .time-of-work {

    }
}

.time-of-work {
    height: 108px;
    vertical-align: middle;
    display: table-cell;
    padding-right: 10px;
}

.time-of-work li {
    font-family: "Trebuchet MS";
    font-size: 15px;
    color: #566fe0;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 768px) {
    .top-bar-menu, .top-bar-menu-active {
        font-size:14px;
    }
}