@font-face {
    font-family: Zing Sans Rust R Base;
    src: url(/fonts/ZingSansRustLDemo-Base_0.otf);
}

@font-face {
    font-family: vladivostok bold;
    src: url(/fonts/bold.ttf);
}

@font-face {
    font-family: zero 5;
    src: url(/fonts/zero5.ttf);
}

@font-face {
    font-family: Bosk;
    src: url(/fonts/bosk.otf);
}

@font-face {
    font-family: 'MyWebFont';
    src: url('/fonts/zero5-webfont.eot');
    src: url('/fonts/zero5-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/zero5-webfont.woff') format('woff'),
    url('/fonts/zero5-webfont.ttf') format('truetype'),
    url('/fonts/zero5-webfont.svg#webfont') format('svg');
}

h1 {
    font-family: Trebuchet MS;
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2%;
    color: #566fe0;
    margin: 0% 0% 2% 0%;
    line-height: 44px;
    margin-top: 40px;
}

div {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

.background-round {
    background: url('/images/round-yellow.png') no-repeat 0px 0px;;
    height: 25%;
    background-size: cover;
    height: 250px;
    padding: 0px;
    width: 250px;
    text-align: center;
    display: table;
    margin: 0 auto;
    cursor: pointer;
}

@media (max-width: 468px) {
    .background-round {
        width: 230px;
        height: 230px;
    }
}

h2, h3, h4, h5, h6 {
    font-family: Trebuchet MS;
    color: #566fe0;
    text-align: center;
    margin-bottom: 2%;
}

h2 {
    font-size: 28px;
}

h3 {
    font-family: MyWebFont;
    font-size: 30px;
    color: #566fe0;
    text-transform: uppercase;
}

h4 {
    font-family: Trebuchet MS;
    font-size: 18px;
    color: #566fe0;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    margin: 10px 0px;
    line-height: 30px;
}

a:hover {
    color: #566fe0;
}

.advantage-title {
    font-size: 20px;
    line-height: 24px;
    color: black;
    text-align: center;
    font-weight: 500;
}

.icons-home {
    margin-top: 20px;
    text-align: center;
}

.divider-home {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}

p {
    font-family: "Trebuchet MS";
    font-size: 14px;
    margin: 0px;
    color: #333;
}

.vertical-middle {
    vertical-align: middle;
}

.auto-photo {
    border: 1px solid #ffe775;
}

.text-auto {
    font-family: MyWebFont;
    font-size: 18px;
    color: black;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.auto-title {
    font-family: Trebuchet MS;
    font-size: 24px;
    line-height: 24px;
    color: #8598ff;
    font-weight: 400;
    margin: 20px 0px;
    text-align: center;
}

.advantage-icons {
    text-align: center;
}

.advantage-img {
    width: 80%;
}

@media (max-width: 1200px) {
    .advantage-img {
        width: 200px;
    }
}

.footer-text {
    font-family: MyWebFont;
    font-size: 18px;
    color: #8598ff;
    line-height: 22px;
    font-weight: 400;
}

.link-footer {
    list-style-type: none;
    margin-bottom: 10px;
}

.link-text-footer {
    font-family: Trebuchet MS;
    font-size: 18px;
    color: #566fe0;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;
}

footer {
    border-top: 4px solid #ffe775;
    padding: 50px 0px 0px 5px;
}

.big-letter {
    font-size: 22px;
    color: #8598ff;
    line-height: 30px;
    margin-top: 5px;
    margin-left: 10px;
}

.title-footer-border {
    border-bottom: 1px solid #e5e5e5;
    list-style-type: none;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 15px;
}

.title-footer {
    font-family: Trebuchet MS;
    font-size: 20px;
    color: #566fe0;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 22px;
}

.footer-icons {
    margin-top: 5px;
}

@media (max-width: 1024px) {
    .footer-table {
        text-align: center;
    }
}

.footer-caption {
    font-size: 16px;
    color: #8598ff;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.big-numbers-footer {
    font-family: vladivostok bold;
    font-size: 44px;
    color: #566fe0;
    line-height: 36px;
    margin: 0px;
}

.big-letter-footer {
    font-family: vladivostok bold;
    font-size: 28px;
    color: #566fe0;
    line-height: 36px;
    margin-top: 5px;
}

@media (max-width: 468px) {
    .big-letter {
        font-size: 15px;
        margin-left: 15px;
        margin-bottom: 5px;
    }
}

@media (max-width: 468px) {
    h1 {
        font-size: 34px;
        margin: 0% 0% 20px 0%;
    }

    .car-gobusgo {
        display: none;
    }

    .display-none-mobile {
        display: none
    }

    h2, h3, h4, h5, h6 {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 26px;
        line-height: 28px;
    }

    p {
        font-size: 16px;
        line-height: 18px;
    }

    footer {
        padding: 20px 0px;
    }

    .mobile-slide {
        margin-bottom: 20px;
    }

    .title-footer-border {
        margin-top: 30px;
    }
}

@media (min-width: 468px) and (max-width: 1025px) {
    .car-gobusgo {
        display: none;
    }

    .display-none-mobile {
        display: none
    }

    .mobile-slide {
        margin-bottom: 20px;
    }

    .footer-table {
        width: 50%;
        display: inline-block;
        float: left;
        margin-top: 20px;
    }

    footer {
        padding: 20px 0px;
    }

    .big-numbers-footer {
        font-size: 38px;
        line-height: 38px;
    }

    .big-letter-footer {
        font-family: vladivostok bold;
        font-size: 24px;
        color: #566fe0;
        line-height: 24px;
        margin-top: 5px;
    }
}

.slide-desktop {
    margin-bottom: 3%;
}

/* Home animation */

@-webkit-keyframes shake {
    30% {
        -webkit-transform: translate(1px, 1px);
        transform: translate(1px, 1px);
    }
    40% {
        -webkit-transform: translate(-1px, -1px);
        transform: translate(-1px, -1px);
    }
    50% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    60% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    70% {
        -webkit-transform: translate(1px, 1px);
        transform: translate(1px, 1px);
    }
    80% {
        -webkit-transform: translate(-1px, -1px);
        transform: translate(-1px, -1px);
    }
    85% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    90% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    95% {
        -webkit-transform: translate(1px, 1px);
        transform: translate(1px, 1px);
    }
    100% {
        -webkit-transform: translate(-1px, -1px);
        transform: translate(-1px, -1px);
    }
}

@media (min-width: 1024px) and (max-width: 1250px) {
    .car-gobusgo {
        display: none;
    }
}

#car {
    -webkit-animation-duration: .4s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes shake-w {
    30% {
        -webkit-transform: translate(0px, -1px);
        transform: translate(0px, -1px);
    }
    40% {
        -webkit-transform: translate(0px, 1px);
        transform: translate(0px, 1px);
    }
    50% {
        -webkit-transform: translate(0px, -2px);
        transform: translate(0px, -2px);

    }
    60% {
        -webkit-transform: translate(0px, 2px);
        transform: translate(0px, 2px);
    }
    70% {
        -webkit-transform: translate(0px, -1px);
        transform: translate(0px, -1px);
    }
    80% {
        -webkit-transform: translate(0px, 1px);
        transform: translate(0px, 1px);
    }
    85% {
        -webkit-transform: translate(0px, -2px);
        transform: translate(0px, -2px);
    }
    90% {
        -webkit-transform: translate(0px, 2px);
        transform: translate(0px, 2px);
    }
    95% {

        -webkit-transform: translate(0px, -1px);
        transform: translate(0px, -1px);
    }
    100% {
        -webkit-transform: translate(0px, 1px);
        transform: translate(0px, 1px);
    }
}

#wheel1 {
    -webkit-animation-duration: .4s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}

#wheel2 {
    -webkit-animation-duration: .4s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}

.cloud {
    width: 80px;
    position: absolute;
    margin-left: 20px;
}

.cloud1 {
    left: 400px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/
    margin-top: -255px;

    -webkit-animation: moveclouds 40s linear infinite;
    -moz-animation: moveclouds 40s linear infinite;
    -o-animation: moveclouds 40s linear infinite;
}

.cloud2 {
    left: 300px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    margin-top: -243px;

    -webkit-animation: moveclouds 40s linear infinite;
    -moz-animation: moveclouds 40s linear infinite;
    -o-animation: moveclouds 40s linear infinite;
}

.cloud3 {
    left: 1600px;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.9; /*opacity proportional to the size*/
    margin-top: -249px;

    -webkit-animation: moveclouds 40s linear infinite;
    -moz-animation: moveclouds 40s linear infinite;
    -o-animation: moveclouds 40s linear infinite;
}

.cloud4 {
    left: 800px;
    -webkit-transform: scale(0.72);
    -moz-transform: scale(0.72);
    transform: scale(0.72); /*opacity proportional to the size*/
    margin-top: -255px;

    -webkit-animation: moveclouds 40s linear infinite;
    -moz-animation: moveclouds 40s linear infinite;
    -o-animation: moveclouds 40s linear infinite;
}

.cloud5 {
    left: 1000px;
    -webkit-transform: scale(0.81);
    -moz-transform: scale(0.81);
    transform: scale(0.81); /*opacity proportional to the size*/
    margin-top: -255px;

    -webkit-animation: moveclouds 32s linear infinite;
    -moz-animation: moveclouds 32s linear infinite;
    -o-animation: moveclouds 32s linear infinite;
}

.cloud6 {
    left: 1100px;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    transform: scale(0.85); /*5opacity proportional to the size*/
    margin-top: -245px;

    -webkit-animation: moveclouds 37s linear infinite;
    -moz-animation: moveclouds 37s linear infinite;
    -o-animation: moveclouds 37s linear infinite;
}

.cloud7 {
    left: 1300px;
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    transform: scale(0.80); /*5opacity proportional to the size*/
    margin-top: -245px;

    -webkit-animation: moveclouds 50s linear infinite;
    -moz-animation: moveclouds 50s linear infinite;
    -o-animation: moveclouds 37s linear infinite;
}

.cloud8 {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/
    margin-top: -260px;

    -webkit-animation: moveclouds 40s linear infinite;
    -moz-animation: moveclouds 40s linear infinite;
    -o-animation: moveclouds 40s linear infinite;
}

@media (max-width: 1250px) {
    .clouds {
        display: none;
    }
}

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1500px;
    }
    100% {
        margin-left: -1500px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 1500px;
    }
    100% {
        margin-left: -1500px;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 1500px;
    }
    100% {
        margin-left: -1500px;
    }
}

.overflow-animation {
    position: relative;
    overflow: hidden;
}

#car {
    position: absolute;
    margin-top: 79px;
    margin-left: 119px;
    width: 200px;
}

.wheel-1 {
    position: absolute;
    padding-top: 146px;
    width: 28px;
    margin-left: 174px;
}

.wheel-2 {
    position: absolute;
    padding-top: 146px;
    width: 28px;
    margin-left: 261px;
}

/* Home animation end */

.reload {
    display: table-cell !important;
    vertical-align: middle;
}

.reload:before {
    content: url('/images/reload-home-1.png');
    margin-left: -25px;
    position: absolute;
    top: 102px;
}

.reload:after {
    content: url('/images/reload-home-2.png');
    position: absolute;
    margin-left: 15px;
    bottom: 90px;
}

@media (min-width: 1024px) and (max-width: 1250px) {
    .city {
        margin: 30px 0px;
        text-align: center;
    }
}

@media (min-width: 1250px) {
    .city-img {
        width: 1200px;
    }

    .city-mobile {
        display: none;
    }
}

@media (min-width: 1600px) {
    .city-img {
        width: 1500px
    }

    .wheel-1, .wheel-2 {
        padding-top: 176px;
    }

    #car {
        margin-top: 109px;
    }
}

.city {
    text-align: center;
    padding-top: 50px;
}

@media (max-width: 1250px) {
    .city {
        display: none;
    }
}

.logo-text {
    color: #ffe775;
    font-family: Bosk;
    font-size: 20px;
    text-transform: uppercase;
}

.align-j {
    text-align: justify;
}

.align-c {
    text-align: center;
}

.logo-mobile {
    width: 30%;
    margin: 15px 20px;
    display: inline-block;
    text-align: center;
    max-width: 130px;
}

@media (min-width: 368px) and (max-width: 768px) {
    .logo-mobile {
        max-width: 90px;
    }
}

@media (min-width: 1250px) {
    .logo-mobile {
        display: none;
    }
}

.radio-cargo {
    color: #8598ff;
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    font-family: MyWebFont;
    font-weight: 600;
    position: absolute;
    margin-top: 90px;
    text-transform: Uppercase;
    margin-left: 400px;
}

.radio-cargo-tablet {
    color: #8598ff;
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Zing Sans Rust R Base';
    font-weight: 600;
}

.radio-cargo label {
    display: block;
    line-height: 40px;
    cursor: pointer;
}

@keyframes click-wave {
    0% {
        height: 20px;
        width: 20px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -90px;
        margin-top: -90px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13px;
    margin-left: 10px;
    background: #ffe775;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 0;
}

.option-input:hover {

}


.option-input:checked::before {
    height: 20px;
    width: 20px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #aec1fb;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

.line-1 {
    border-left: 4px solid #7d88ff;
    height: 107px;
    position: absolute;
    margin-left: 303px;
    margin-top: 75px;
}

.line-2 {
    border-top: 4px solid #7d88ff;
    width: 102px;
    position: absolute;
    margin-left: 305px;
    margin-top: 120px;
}

.line-3 {
    border-top: 4px solid #7d88ff;
    width: 102px;
    position: absolute;
    margin-left: 305px;
    margin-top: 178px;
}

.line-4 {
    border-left: 4px solid #7d88ff;
    height: 60px;
    position: absolute;
    margin-left: 928px;
    margin-top: 310px;
}

.line-5 {
    border-top: 4px solid #7d88ff;
    width: 105px;
    position: absolute;
    margin-left: 827px;
    margin-top: 369px;
}

.line-6 {
    border-left: 4px solid #7d88ff;
    height: 95px;
    position: absolute;
    margin-left: 287px;
    margin-top: 558px;
}

.line-7 {
    border-top: 4px solid #7d88ff;
    width: 62px;
    position: absolute;
    margin-left: 290px;
    margin-top: 580px;
}

.line-8 {
    border-top: 4px solid #7d88ff;
    width: 62px;
    position: absolute;
    margin-left: 290px;
    margin-top: 649px;
}

.line-9 {
    border-top: 4px solid #7d88ff;
    width: 62px;
    position: absolute;
    margin-left: 850px;
    margin-top: 824px;
}

.line-10 {
    border-left: 4px solid #7d88ff;
    height: 65px;
    position: absolute;
    margin-left: 910px;
    margin-top: 763px;
}

.reload-img {
    position: absolute;
    margin-top: 584px;
    margin-left: 510px;
    cursor: pointer;
    height: 60px;
}

.request-form {
    margin-top: 30px;
    font-size: 20px !important;
}

.road-text-1 {
    color: #8598ff;
    font-size: 24px;
    font-family: Trebuchet MS;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    margin-top: 24px;
    margin-left: 140px;
}

.road-text-2 {
    color: #8598ff;
    font-size: 24px;
    font-family: Trebuchet MS;
    font-weight: 600;
    position: absolute;
    margin-top: 255px;
    margin-left: 990px;
    text-transform: uppercase;
}

.road-text-3 {
    color: #8598ff;
    font-size: 24px;
    font-family: Trebuchet MS;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    margin-top: 415px;
    margin-left: 291px;
}

.road-text-4 {
    color: #8598ff;
    font-size: 24px;
    font-family: Trebuchet MS;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    margin-top: 705px;
    margin-left: 974px;
}

.table-services {
    text-align: center;
}

.table-services table {
    border: 2px solid #818180;
    margin: auto;
}

.table-services table tr {
    border: 2px solid #818180;
}

.table-services table td {
    border: 2px solid #818180;
    font-family: MyWebFont;
    font-size: 16px;
    padding: 10px 20px;
}

@media (max-width: 468px) {
    .table-services table td, .table-services-minsk table td {
        /*display: block;*/
        text-align: center;
        /*width: 100% !important;*/
        /*height: auto !important;*/
    }
}

.text-title-map {
    font-family: MyWebFont;
    font-size: 22px;
    line-height: 24px;
    color: #8598ff;
    font-weight: 400;
}

.text-map {
    font-family: MyWebFont;
    color: black;
    font-size: 18px;
    margin: 10px 0px 20px 0px;
}

.table-services-minsk {
    text-align: center;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.table-services-minsk table {
    border: 2px solid #818180;
    margin: auto;
}

.table-services-minsk table tr {
    border: 2px solid #818180;
}

.table-services-minsk table td {
    border: 2px solid #818180;
    font-family: MyWebFont;
    font-size: 18px;
    padding: 20px 20px;
}

.login-form {
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-form form {
    width: 100%;
    max-width: 400px;
}

.input-log {
    text-align: center;
    display: block;
    width: 100%;
    height: 50px;
    padding: 13px 44px;
    font-size: 18px;
    line-height: 1.57143;
    color: #313132;
    background-color: #f5f5f5;
    background-image: none;
    border: 1px solid #dbdbdb;
    border-radius: 25px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.button-log {
    padding: 10px 20px;
    border: 3px solid #8598ff;
    transition: all 300ms ease;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    display: inline-block;
    position: relative;
    font-family: Trebuchet MS;
    text-transform: uppercase;
    color: white;
    background: #566fe0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-log:focus {
    color: white;
}

.road-tablet .button-log, .road-mobile .button-log {
    margin-top: 5px;
}

.road-reload:after {
    content: url('/images/reload-double.png');
}

.button-log:hover {
    color: #566fe0;
    box-shadow: none;
    background: white;
}

.button-callback {
    padding: 5px 20px !important;
    margin-left: 15px !important;

}

@media (max-width: 468px) {
    .button-callback {
        margin-left: 0px !important;
    }
}

.button-parent {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.button-parent--inner {
    padding: 4em 1em;
}

.button-item {
    padding-bottom: 2em;
    padding-top: 20px;
}

.btn-1 {
    padding: 0px 20px;
    transition: all 300ms ease
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    font-family: Trebuchet MS;
    text-transform: uppercase;
    color: #8598ff;
    background: #ffeb89;
    font-weight: 600;
    margin-left: 5px;
    font-size: 18px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.btn-1:before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background: #ffeb89;
    top: 0;
    left: 50%;
    z-index: -1;
    transition: all 0ms ease;
    border-radius: 4px;
}

.btn-1:hover {
    color: white;
    box-shadow: none;
}

.btn-1:hover:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #ffeb89;
    top: 0;
    left: 0%;
    z-index: -1;
    transition: all 300ms ease;
}

.login-form .form-input, .registration-form .form-input {
    background-color: #cfd9ff;
    border-radius: 12px;
    padding: 20px;
    height: 90%;
    box-shadow: 0px 2px 10px 0px rgba(49, 49, 50, 0.13);
}

.login-form input {
    margin: 20px 0px;
}

.label-remember {
    text-align: center;
}

.login-form input {
    margin: 20px 0px;
}

.submit-button {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px;
    color: black;
    font-size: 16px;
    position: relative;
    transition: all 0.4s ease;
    font-family: Trebuchet MS;
    font-weight: 600;
    background-color: #ffeb89;
    border-radius: 4px;
    text-transform: uppercase;
    margin-top: 10px;
}

.label-remember {
    text-align: center;
    font-family: 'Zing Sans Rust R Base';
    font-size: 16px;
    cursor: pointer;
    color: black;
}

.Input {
    position: relative;
    margin: 10px;
}

.form-input .Input {
    margin: 10px 0px;
}

.Input-text {
    display: block;
    margin: 0;
    width: 100%;
    font-weight: inherit;
    font-size: 18px;
    font-family: Trebuchet MS;
    padding: 10px 5px;
    color: #333;
    text-align: center;
    border: 3px solid #7d88ff;
}

.login-text {
    margin: 10px 0px;
    font-size: 16px;
    color: black;
}

.Input li {
    list-style-type: none;
    color: red;
}

.Input ul {
    padding-left: 0px;
}

.Input-1 {
    position: absolute;
    margin-top: 345px;
    margin-left: 662px;
}

.Input-text-1 {
    display: inline-block;
    font-size: 20px;
    font-family: MyWebFont;
    position: absolute;
    width: 140px;
    padding: 10px 5px;
    color: #8598ff;
    text-align: center;
    border: 3px solid #7d88ff;
    font-weight: inherit;
    font-size: 18px;
    font-family: Trebuchet MS;
    padding: 10px 5px;
    color: #333;
    text-align: center;
    border: 1px solid #7d88ff;
    border-radius: 12px;
    background: #F6F6F6;
}

.Input-2 {
    position: absolute;
    margin-top: 557px;
    margin-left: 362px;
}

.Input-text-2 {
    display: inline-block;
    font-size: 20px;
    font-family: MyWebFont;
    position: absolute;
    width: 140px;
    padding: 10px 5px;
    color: #8598ff;
    text-align: center;
    border: 3px solid #7d88ff;
}

.Input-3 {
    position: absolute;
    margin-top: 627px;
    margin-left: 362px;
}

.Input-3-1 {
    position: absolute;
    margin-top: 557px;
    margin-left: 532px;
}

.Input-text-3 {
    display: inline-block;
    font-size: 14px;
    font-family: MyWebFont;
    position: absolute;
    width: 140px;
    padding: 10px 5px;
    color: #8598ff;
    text-align: center;
    border: 3px solid #7d88ff;
    cursor: pointer;
    cursor: pointer;
    /* font-weight: inherit; */
    font-size: 18px;
    /* font-family: Trebuchet MS; */
    /* padding: 10px 5px; */
    color: #333;
    text-align: center;
    border: 1px solid #7d88ff;
    /* border-radius: 12px; */
    background: #F6F6F6;
}

.Input-4 {
    position: absolute;
    margin-top: 799px;
    margin-left: 692px;
}

.Input-text-4 {
    display: inline-block;
    font-size: 20px;
    font-family: MyWebFont;
    position: absolute;
    width: 140px;
    padding: 10px 5px;
    color: #8598ff;
    text-align: center;
    border: 3px solid #7d88ff;
}

.Input-5 {
    position: absolute;
    margin-top: 209px;
    margin-left: 412px;
}

.Input-text-5 {
    display: inline-block;
    font-size: 14px;
    font-family: MyWebFont;
    position: absolute;
    width: 314px;
    padding: 4px 5px;
    color: #8598ff;
    text-align: center;
    border: 3px solid #7d88ff;
}

.Input-6 {
    position: absolute;
    margin-top: 252px;
    margin-left: 412px;
}

.Input-7 {
    position: absolute;
    margin-top: 295px;
    margin-left: 412px;
}

.Input-8 {
    position: absolute;
    margin-top: 338px;
    margin-left: 412px;
}

.Input-9 {
    position: absolute;
    margin-top: 381px;
    margin-left: 412px;
}

.Input-10 {
    position: absolute;
    margin-top: 424px;
    margin-left: 412px;
}

.Input-11 {
    position: absolute;
    margin-top: 467px;
    margin-left: 412px;
}

.Input-12 {
    position: absolute;
    margin-top: 510px;
    margin-left: 412px;
}

.Input-13 {
    position: absolute;
    margin-top: 553px;
    margin-left: 412px;
}

.Input-text-13 {
    display: inline-block;
    font-size: 14px;
    font-family: MyWebFont;
    position: absolute;
    width: 275px;
    padding: 4px 5px;
    color: #8598ff;
    text-align: center;
    border: 3px solid #7d88ff;
}

.additional-city {
    position: absolute;
    margin-top: 560px;
    margin-left: 512px;
    color: #8598ff;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
    font-family: MyWebFont;
    font-weight: 600;
    line-height: 40px;
}

.delete-city {
    position: absolute;
    margin-top: 560px;
    margin-left: 690px;
    color: #8598ff;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
    font-family: MyWebFont;
    font-weight: 600;
    line-height: 40px;
    visibility: hidden;
}

.reload-img-tablet {
    margin-bottom: 50px;
    margin-left: 10px;
    cursor: pointer;
    height: 40px;
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .road-loptop {
        display: none;
    }

    .road-tablet {
        display: none;
    }
}

.road-loptop label {
    display: block;
}

@media (min-width: 600px) and (max-width: 1200px) {
    .road-loptop {
        display: none;
    }

    .road-mobile {
        display: none;
    }
}

@media (min-width: 1200px) {
    .road-tablet {
        display: none;
    }

    .road-mobile {
        display: none;
    }
}

.road-number {
    display: inline-block;
    background: #8598ff;
    padding: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: #ffeb89;
    border: 4px solid #566fe0;
    font-family: Trebuchet MS;
    font-weight: 600;
}

.link-menu {
    padding: 8px 15px 8px 15px;
    color: #8598ff;
    font-size: 14px;
    font-family: Trebuchet MS;
    font-weight: 600;
    cursor: pointer;
}

.link-menu a {
    color: #8598ff;
}

.divider-menu {
    height: 1px;
    margin-left: 0px;
    overflow: hidden;
    background-color: #e5e5e5;
    width: 100%;
}

.road-tablet-title {
    display: inline-block;
    margin-top: 0px;
    font-size: 22px;
    line-height: 60px;
    vertical-align: middle;
    float: right;
}

.text-contacts {
    margin: 10px 0px 10px 0px;
    font-size: 16px;
}

.input-contacts {
    display: block;
    margin: 0;
    width: 100%;
    font-weight: inherit;
    font-size: 16px;
    font-family: Trebuchet MS;
    padding: 5px 5px;
    color: #333;
    text-align: left;
    border: 3px solid #7d88ff;
}

.registration-form form {
    width: 100%;
    max-width: 800px;

}

.registration-form {
    display: flex;
    justify-content: center;
}

.input-registration {
    display: block;
    margin: 0;
    width: 100%;
    font-weight: inherit;
    font-size: 16px;
    font-family: Trebuchet MS;
    padding: 10px 10px;
    color: #333;
    text-align: left;
    border: 3px solid #7d88ff;
}

@media (min-width: 1200px) {
    .height-vh {
        height: 100vh;
    }
}

@media (min-height: 768px) {
    .height-vh {
        height: auto;
    }
}

.input-tablet {
    display: inline-block;
    margin: 0;
    font-weight: inherit;
    font-size: 16px;
    font-family: Trebuchet MS;
    padding: 5px 10px;
    color: #333;
    text-align: left;
    border: 3px solid #7d88ff;
    max-width: 100%;
}

.input-tablet-form {
    display: inline-block;
    margin: 0;
    font-weight: inherit;
    font-size: 16px;
    font-family: Trebuchet MS;
    padding: 5px 10px;
    color: #333;
    text-align: left;
    border: 3px solid #7d88ff;
    min-width: 250px;
}

.road-mobile-title {
    display: block;
    margin-top: 0px;
    font-size: 18px;
    line-height: 30px;
    vertical-align: middle;
    margin-bottom: 0px;
    text-align: left;
}

.radio-cargo-mobile {
    color: #8598ff;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    font-family: Trebuchet MS;
    font-weight: 600;
}

.radio-cargo-mobile .option-input, .radio-cargo-tablet .option-input {
    margin-left: 0px;
}

.input-mobile-form {
    display: inline-block;
    margin: 0;
    font-weight: inherit;
    font-size: 14px;
    font-family: Trebuchet MS;
    padding: 5px 10px;
    color: #333;
    text-align: left;
    border: 3px solid #7d88ff;
    width: 100%;
}

.Input-1-1 {
    position: absolute;
    margin-top: 310px;
    margin-left: 692px;
}

.Input-1-2 {
    position: absolute;
    margin-top: 380px;
    margin-left: 692px;
}

.Input-1-3 {
    position: absolute;
    margin-top: 380px;
    margin-left: 532px;
}

.Input-1-4 {
    position: absolute;
    margin-top: 310px;
    margin-left: 532px;
}

.line-55 {
    border-top: 4px solid #7d88ff;
    width: 65px;
    position: absolute;
    margin-left: 867px;
    margin-top: 369px;
}

.backdrop {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    cursor: pointer;
}

.active + .backdrop {
    left: 0;
    opacity: 1;
}

.reload-header {
    display: inline-block;
    height: 35px;
}

.dropdown-menu li a {
    margin-left: 5px;
}

.p-0 {
    padding: 0px;
}

.margin-home {
    margin: 0% 0% 5% 0%;
}

@media (max-width: 1250px) {
    .margin-home {
        margin-top: 40px;
    }
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-10 {
    margin-top: 10px;
}

.align-home {
    display: table-cell !important;
    vertical-align: middle;
}

/* Footer */

.logo-footer {
    width: 150px;
}

.logo-top {
    height: 80px;
    width: auto;
}

.action-button {
    display: inline-block;
    font-family: Trebuchet MS;
    background-color: #ffeb89;
    color: #8598ff;
    font-weight: 600;
    padding: 0px 20px;
    border-radius: 4px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 3px solid #D1B358;
    margin-left: 5px;
    border-right: 2px solid #D1B358;
}

.action-button:active {
    transform: translate(2px, 3px);
    -webkit-transform: translate(2px, 3px);
    border-bottom: 0px solid;
    border-right: 0px solid;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.icon-back {
    color: #8598ff;
    padding: 20px 0px 0px 30px;
}

.icon-back:hover {
    color: #566fe0;
}

.exit-img {
    height: 30px;
    float: right;
    margin: 20px 30px 0px 0px;
}

.confirm {
    padding: 40px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    color: #333;
    text-align: center;
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 7.6px 0.4px rgba(0, 0, 0, 0.2);
    text-transform: none;
}

.check {
    border: 2px solid #8598ff;
    box-shadow: 5px 5px 5px #cfd9ff;
}

.check-border {
    border: 3px dashed #eee;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 468px) {
    .check-border {
        margin: 5px;
    }
}

.text-confirm {
    font-family: MyWebFont;
    font-size: 16px;
    color: #566fe0;
}

.check-title {
    vertical-align: middle;
    border-bottom: 1px solid #eee;
}

.table-check {
    display: inline-block;
    margin-left: 10px;
}

.table-check h4 {
    margin: 0px;
}

.table-check td {
    padding-right: 20px;
    padding-top: 5px;
    font-family: mywebfont;
}

.home-img {
    height: 38px;
    text-align: right;
    margin: 16px 30px 0px 0px;
    color: #8598ff;
    font-size: 38px !important;
}

.field-closed {
    background: #DCDCDC;
    cursor: default;
}

.profile-table td {
    text-align: left;
    font-size: 16px;
    padding: 10px 0px 0px 0px;
}

@media (max-width: 468px) {
    .profile-table td {
        display: block;
    }
}

.profile-fon {
    background-color: #f3f5fc;
    padding: 5px 5px;
}

@media (max-width: 468px) {
    .table-mobile th, .table-mobile td {
        display: block;
        text-align: center;
        width: 100% !important;
        height: auto !important;
    }

}

@media (min-width: 468px) {
    .table-mobile th, .table-mobile td {
        max-width: 70px;
    }
}

.btn-2 {
    color: #fff;
    background-color: #8598ff;
    border-color: white;
    padding: 8px 19px;
    font-size: 14px;
    line-height: 1.57143;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    letter-spacing: .02em;
    width: 100%;
    text-transform: uppercase;
    box-shadow: 0px 2px 10px 0px rgba(19, 108, 191, 0.31);
}

.btn-3 {
    color: #fff;
    background-color: #8598ff;
    border-color: white;
    padding: 8px 19px;
    font-size: 14px;
    line-height: 1.57143;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    letter-spacing: .02em;
    width: 100%;
    text-transform: uppercase;
    box-shadow: 0px 2px 10px 0px rgba(19, 108, 191, 0.31);
}

.btn-2:hover, .btn-3:hover {
    background-color: #566fe0;
    border-color: #a5d4ff;
    color: #fff;
}

.p-l-10 {
    padding-left: 10px;
}

address span {
    font-size: 18px;
}

.divider-top {
    width: 120%;
    height: 2px;
    color: #ffeb89;
    background-color: #ffeb89;
}

.sonata-blog-post-container h1 {
    font-size: 34px;
    margin-bottom: 5px;
}

.sonata-blog-post-content {
    margin-bottom: 30px;
}

.sonata-blog-comment {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    margin-bottom: 10px;
}

.sonata-blog-comment-container ul {
    padding-left: 0px;
}

.blog-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
}

.sidebar .section { margin-bottom: 20px; }
.sidebar h3 { line-height: 1.2em; font-size: 20px; margin-bottom: 10px; font-weight: normal; background: #eee; padding: 5px;  }
.sidebar p { line-height: 1.5em; margin-bottom: 20px; }
.sidebar ul { list-style: none }
.sidebar ul li { line-height: 1.5em }
.sidebar .small { font-size: 12px; }
.sidebar .comment p { margin-bottom: 5px; }
.sidebar .comment { margin-bottom: 10px; padding-bottom: 10px; }
.sidebar .tags { font-weight: bold; }
.sidebar .tags span { color: #000; font-size: 12px; }
.weight-1 { font-size: 12px; }
.weight-2 { font-size: 15px; }
.weight-3 { font-size: 18px; }
.weight-4 { font-size: 21px; }
.weight-5 { font-size: 24px; }

@media (min-width: 1800px) {
    .btn-2 {
        font-size: 22px;
    }

    .btn-3 {
        font-size: 22px;
    }

    address span, .big-letter, .button-log {
        font-size: 1.1vw;
    }

    #car {
        margin-left: 449px;
    }

    .wheel-1 {
        margin-left: 504px;
    }

    .wheel-2 {
        margin-left: 591px;
    }
}

.list-marked > li:before {
    content: '\f105';
    font-family: FontAwesome;
    color: #566fe0;
    margin-right: 10px;
}

.list-marked {
    list-style: none;
    -webkit-padding-start: 0px;
}

.select2-selection__rendered
{
    display: none;
}

@media (min-width: 768px) {
    .blog-wrap {
        display: flex;
        flex-wrap: wrap;
        float: left;
        width: 100%;
    }
}

.section-sidebar {
    padding: 20px;
    box-shadow: 0 7px 18px rgba(0, 0, 0, 0.13);
    background-color: #fff;
    margin-bottom: 30px;
}