{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row text-center">
        <a href="{{ path('gobusgo_gobusgo_homepage') }}">
            <img src="{{ asset('images/logo-1.png') }}" class="m-b-20" alt="" width="120px;">
        </a>
        <h1>Восстановление пароля</h1>
        <p class="login-text">Забыли пароль? Восстановите его используя следующую форму.</p>
        <div class="login-form">

            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST"
                  class="fos_user_resetting_request">
                <div class="form-input">
                    <div class="Input">
                        <input type="text" class="input-log" id="username" name="username" required="required"
                               placeholder="Имя пользователя"/>
                    </div>
                </div>

                <div class="Input">
                    <input type="submit" class="button-log" value="{{ 'resetting.request.submit'|trans }}"/>
                </div>

            </form>

        </div>
    </div>
</div>
